In [47]:
#sample data

import pandas as pd
data = {'knowledge_begin_date': ['2021-11-25 09:14:44.479251+00:00',
                                 '2022-02-24 07:08:23.360342+00:00',
                                 '2022-03-22 18:05:39.841862+00:00',
                                 '2022-03-23 10:52:28.364452+00:00',
                                 '2022-03-23 11:10:11.199637+00:00',
                                 '2022-03-25 11:52:14.925071+00:00'], 'status': ['Added', 'Added', 'Active', 'Added', 'Added', 'Added']}
df = pd.DataFrame(data)

#converting knowledge_begin_date column to datetime format
df['knowledge_begin_date'] = pd.to_datetime(df['knowledge_begin_date'])
df['year'] = df['knowledge_begin_date'].dt.year
df['month'] = df['knowledge_begin_date'].dt.month
df['date'] = df['knowledge_begin_date'].dt.date

df

              knowledge_begin_date  status  year  month        date
0 2021-11-25 09:14:44.479251+00:00   Added  2021     11  2021-11-25
1 2022-02-24 07:08:23.360342+00:00   Added  2022      2  2022-02-24
2 2022-03-22 18:05:39.841862+00:00  Active  2022      3  2022-03-22
3 2022-03-23 10:52:28.364452+00:00   Added  2022      3  2022-03-23
4 2022-03-23 11:10:11.199637+00:00   Added  2022      3  2022-03-23
5 2022-03-25 11:52:14.925071+00:00   Added  2022      3  2022-03-25

# Sample Ouput:

In [ ]:
#no need to execute 
#Need a count of active and added users for each month till current date
#sample output (should be a dict with multiple keys of year -> month -> status)

{
 '2021': {'1': {'Added': 2, 'Active': 3},
          '2': {'Added': 1, 'Active': 1},
          '3': {'Added': 0, 'Active': 0}}, --> for missing months values should be zero 
 ..
 ..
 '2022': {'3': {'Added': 0, 'Active': 0},
          '4': {'Added': 1, 'Active': 1}}
}

In [39]:
#group by year and month

grp = df.groupby(['year', 'month']).status.value_counts()
grp

year  month  status
2021  11     Added     1
2022  2      Added     1
      3      Added     3
             Active    1
Name: status, dtype: int64

In [45]:
#if we convert the above grp to dict, it combines all the keys into one tuple like below
#also it is not filling the missing months/years/status

grp.to_dict()

{(2021, 11, 'Added'): 1,
 (2022, 2, 'Added'): 1,
 (2022, 3, 'Added'): 3,
 (2022, 3, 'Active'): 1}

In [42]:
#Tried methods

#1 - Filling the missing dates and then group by months
# since there is repeated dates, months, cannot able to fill the missing datas

r = pd.date_range(start=df_copy.date.min(), end=df_copy.date.max())
# df_copy.set_index('date').reindex(r).fillna(0.0).rename_axis('date').reset_index()

In [46]:
#2 - tried to convert to_dict() values with multiple keys but seems very complex

#stack overflow
#https://datascience.stackexchange.com/questions/49529/how-to-create-dictionary-with-multiple-keys-from-dataframe-in-python